.Botao {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

.Botao:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Sucedido {
    color: #5C9210;
}

.Perigo {
    color: #944317;
}