.controleConstrucao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  
 .controleConstrucao button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
 }

.controleConstrucao button:disabled {
    background-color: #AC9980;
    border: 1px solid #7E7365;
    color: #ccc;
    cursor: default;
}

.controleConstrucao button:hover:disabled {
    background-color: #AC9980;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.controleConstrucao .Menos {  
    background-color: #D39952;
    color: white;
    margin-right: 8px;
}

.controleConstrucao .Mais {
    background-color: #8F5E1E;
    color: white;
}

.controleConstrucao .Menos:hover, .controleConstrucao .Menos:active {  
    background-color: #DAA972;
    color: white;
}

.controleConstrucao .Mais:hover,.controleConstrucao .Mais:active {
    background-color: #99703F;
    color: white;
}



