.ItemNavegacao {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
}
  
.ItemNavegacao a {
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}
  
.ItemNavegacao a:hover,
.ItemNavegacao a:active,
.ItemNavegacao a.active {
    color: #40A4C8;
}

@media (min-width: 1500px) {
    .ItemNavegacao {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
      
    .ItemNavegacao a {
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
      
    .ItemNavegacao a:hover,
    .ItemNavegacao a:active,
    .ItemNavegacao a.active {
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
        color: white;
    }
}